*{
    font-family:"Helvetica Neuw", Arial, sans-serif;
}
body{
    margin: auto;
    background-color:lightgray;
    color: black;
    width:80%;
    height:auto;
    
}
/*pseudo*/
p::first-letter{
    font-style: italic;
    font-size: 20px;
    color:rebeccapurple
    
}
/*navigation menu styles*/ 
nav ul{
    list-style-type: none;
    padding: 10px;
}
nav ul li{
    float: left;
    margin-right: 0.5em;
}
nav ul li a {
    padding: 0.25em 1em;
    text-decoration: none; /*no underline*/
    background-color: paleturquoise;
    color:crimson;
    border: 2px soild red;
    border-top-left-radius: 1em 1em; /*rounded corner! */
    border-top-right-radius: 1em 1em; /*another rounded corner! */
}
nav ul li a:hover, nav ul li s:focus{
   color: Green;
    background-color: cadetblue;
    font-weight: bold;
   }


h1{
        border: 4px dotted yellow;
            
    }


header{
    border:3px dashed red;

}

p{
    padding: 22px 25px 22px 25px;
        margin: -10px -5px -10px -5px
        width: 40%;
        height: 10%;
    position: relative;
    background-color: darkseagreen;
    background-size: 100px;
    
}
h2{
    border: 5px double orange;
}
main{
    clear:left;
}
.active{
    background-color:aquamarine;
    color:darkolivegreen;
}
.album{
    float:left;
    margin-right: 20px;
    
}
.caption{
    clear: left;
    padding: 50px 0;
    margin: 0;
}